@font-face {
  font-family: 'amk-font';
  src:  url('../fonts/amk-font.eot?bljj4e');
  src:  url('../fonts/amk-font.eot?bljj4e#iefix') format('embedded-opentype'),
    url('../fonts/amk-font.ttf?bljj4e') format('truetype'),
    url('../fonts/amk-font.woff?bljj4e') format('woff'),
    url('../fonts/amk-font.svg?bljj4e#amk-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.amk {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'amk-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.amk-calendar-01:before {
  content: "\e9ff";
}
.amk-calendar-02:before {
  content: "\ea00";
}
.amk-location-01:before {
  content: "\e9f6";
}
.amk-location-02:before {
  content: "\e9f7";
}
.amk-mail-01:before {
  content: "\e9f8";
}
.amk-mail-02:before {
  content: "\e9f9";
}
.amk-mail-03:before {
  content: "\e9fa";
}
.amk-people-01:before {
  content: "\e9fb";
}
.amk-people-02:before {
  content: "\e9fc";
}
.amk-square-01:before {
  content: "\e9fd";
}
.amk-square-02:before {
  content: "\e9fe";
}
.amk-change-currency-wide:before {
  content: "\e93c";
}
.amk-change-currency-thin:before {
  content: "\e93d";
}
.amk-close:before {
  content: "\e93e";
}
.amk-close-circle:before {
  content: "\e93f";
}
.amk-close-square:before {
  content: "\e94e";
}
.amk-close-square-02:before {
  content: "\e94f";
}
.amk-down-arrow-01:before {
  content: "\e950";
}
.amk-down-arrow-02:before {
  content: "\e951";
}
.amk-facebook:before {
  content: "\e958";
}
.amk-facebook-circle:before {
  content: "\e959";
}
.amk-facebook-square:before {
  content: "\e95a";
}
.amk-facebook-square-02:before {
  content: "\e95b";
}
.amk-google-plus:before {
  content: "\e96f";
}
.amk-google-plus-circle:before {
  content: "\e970";
}
.amk-google-plus-square:before {
  content: "\e971";
}
.amk-google-plus-square-02:before {
  content: "\e972";
}
.amk-instagram:before {
  content: "\e97f";
}
.amk-instagram-circle:before {
  content: "\e980";
}
.amk-instagram-square:before {
  content: "\e981";
}
.amk-instagram-square-02:before {
  content: "\e982";
}
.amk-left-arrow-01:before {
  content: "\e989";
}
.amk-left-arrow-02:before {
  content: "\e98a";
}
.amk-loading:before {
  content: "\e98b";
}
.amk-mail-ru:before {
  content: "\e98c";
}
.amk-mail-ru-circle:before {
  content: "\e9a4";
}
.amk-mail-ru-square:before {
  content: "\e9a5";
}
.amk-mail-ru-square-02:before {
  content: "\e9a6";
}
.amk-menu-01:before {
  content: "\e9a7";
}
.amk-menu-02:before {
  content: "\e9bd";
}
.amk-odnoklassniki:before {
  content: "\e9be";
}
.amk-odnoklassniki-circle:before {
  content: "\e9bf";
}
.amk-odnoklassniki-square:before {
  content: "\e9c0";
}
.amk-odnoklassniki-square-02:before {
  content: "\e9c6";
}
.amk-phone:before {
  content: "\e9c7";
}
.amk-pinterest:before {
  content: "\e9c8";
}
.amk-pinterest-circle:before {
  content: "\e9c9";
}
.amk-pinterest-square:before {
  content: "\e9d3";
}
.amk-pinterest-square-02:before {
  content: "\e9d4";
}
.amk-right-arrow-01:before {
  content: "\e9d5";
}
.amk-right-arrow-02:before {
  content: "\e9d6";
}
.amk-skype:before {
  content: "\e9d7";
}
.amk-skype-circle:before {
  content: "\e9d8";
}
.amk-skype-square:before {
  content: "\e9d9";
}
.amk-skype-square-02:before {
  content: "\e9da";
}
.amk-tripadvisor:before {
  content: "\e9db";
}
.amk-tripadvisor-circle:before {
  content: "\e9dc";
}
.amk-tripadvisor-square:before {
  content: "\e9dd";
}
.amk-tripadvisor-square-02:before {
  content: "\e9de";
}
.amk-twitter:before {
  content: "\e9df";
}
.amk-twitter-circle:before {
  content: "\e9e0";
}
.amk-twitter-square:before {
  content: "\e9e1";
}
.amk-twitter-square-02:before {
  content: "\e9e2";
}
.amk-up-arrow-01:before {
  content: "\e9e3";
}
.amk-up-arrow-02:before {
  content: "\e9e4";
}
.amk-viber:before {
  content: "\e9e5";
}
.amk-viber-circle:before {
  content: "\e9e6";
}
.amk-viber-square:before {
  content: "\e9e7";
}
.amk-viber-square-02:before {
  content: "\e9e8";
}
.amk-vk:before {
  content: "\e9e9";
}
.amk-vk-circle:before {
  content: "\e9ea";
}
.amk-vk-square:before {
  content: "\e9eb";
}
.amk-vk-square-02:before {
  content: "\e9ec";
}
.amk-whatsapp:before {
  content: "\e9ed";
}
.amk-whatsapp-circle:before {
  content: "\e9ee";
}
.amk-whatsapp-square:before {
  content: "\e9ef";
}
.amk-whatsapp-square-02:before {
  content: "\e9f0";
}
.amk-youtube:before {
  content: "\e9f1";
}
.amk-youtube-circle:before {
  content: "\e9f2";
}
.amk-youtube-square:before {
  content: "\e9f3";
}
.amk-youtube-square-02:before {
  content: "\e9f4";
}
.amk-zoom:before {
  content: "\e9f5";
}
.amk-our-room-service:before {
  content: "\e900";
}
.amk-additional-bathroom:before {
  content: "\e901";
}
.amk-additional-toilet:before {
  content: "\e902";
}
.amk-air-conditioning:before {
  content: "\e903";
}
.amk-airport-shuttle:before {
  content: "\e904";
}
.amk-alarm-clock:before {
  content: "\e905";
}
.amk-allergy-free:before {
  content: "\e906";
}
.amk-arcade-game-room:before {
  content: "\e907";
}
.amk-area-shuttle:before {
  content: "\e908";
}
.amk-armchairs:before {
  content: "\e909";
}
.amk-atm-banking:before {
  content: "\e90a";
}
.amk-babysitting-or-childcare:before {
  content: "\e90b";
}
.amk-balcony:before {
  content: "\e90c";
}
.amk-barbecue:before {
  content: "\e90d";
}
.amk-barbecue-grill:before {
  content: "\e90e";
}
.amk-bath:before {
  content: "\e90f";
}
.amk-bath-or-shower:before {
  content: "\e910";
}
.amk-bathrobe:before {
  content: "\e911";
}
.amk-bathroom:before {
  content: "\e912";
}
.amk-bathroom-with-shower-cabin:before {
  content: "\e913";
}
.amk-beach-shuttle:before {
  content: "\e914";
}
.amk-bidet:before {
  content: "\e915";
}
.amk-billiard-or-pool-table:before {
  content: "\e916";
}
.amk-blu-ray-player:before {
  content: "\e917";
}
.amk-business-center:before {
  content: "\e918";
}
.amk-cable-channels:before {
  content: "\e919";
}
.amk-carpeted-floor:before {
  content: "\e91a";
}
.amk-casino:before {
  content: "\e91b";
}
.amk-casino-shuttle:before {
  content: "\e91c";
}
.amk-cd-player:before {
  content: "\e91d";
}
.amk-chairs:before {
  content: "\e91e";
}
.amk-city-view:before {
  content: "\e91f";
}
.amk-cleaning-products:before {
  content: "\e920";
}
.amk-clothes-dryer:before {
  content: "\e921";
}
.amk-coffee-machine:before {
  content: "\e922";
}
.amk-coffee-table:before {
  content: "\e923";
}
.amk-computer:before {
  content: "\e924";
}
.amk-computer-center:before {
  content: "\e925";
}
.amk-concierge-service:before {
  content: "\e926";
}
.amk-conference-center:before {
  content: "\e927";
}
.amk-cotton-bed-linen:before {
  content: "\e928";
}
.amk-cruise-terminal-shuttle:before {
  content: "\e929";
}
.amk-daily-housekeeping-service:before {
  content: "\e92a";
}
.amk-deposit-box:before {
  content: "\e92b";
}
.amk-designated-smoking-areas:before {
  content: "\e92c";
}
.amk-desk:before {
  content: "\e92d";
}
.amk-dining-area:before {
  content: "\e92e";
}
.amk-dishwasher:before {
  content: "\e92f";
}
.amk-dressing-room:before {
  content: "\e930";
}
.amk-dry-cleaning-laundry-service:before {
  content: "\e931";
}
.amk-dvd-player:before {
  content: "\e932";
}
.amk-electric-blankets:before {
  content: "\e933";
}
.amk-electric-kettle:before {
  content: "\e934";
}
.amk-elevator-lift:before {
  content: "\e935";
}
.amk-equipment-for-making-coffee:before {
  content: "\e936";
}
.amk-equipment-for-making-tea:before {
  content: "\e937";
}
.amk-executive-lounge-access:before {
  content: "\e938";
}
.amk-exhaust-hood:before {
  content: "\e939";
}
.amk-express-check-in:before {
  content: "\e93a";
}
.amk-extra-long-beds:before {
  content: "\e93b";
}
.amk-fan:before {
  content: "\e940";
}
.amk-fax:before {
  content: "\e941";
}
.amk-ferry-terminal-shuttle:before {
  content: "\e942";
}
.amk-fireplace:before {
  content: "\e943";
}
.amk-fireplace-in-lobby:before {
  content: "\e944";
}
.amk-flat-screen-tv:before {
  content: "\e945";
}
.amk-food-drink:before {
  content: "\e946";
}
.amk-free-grocery-shopping-service:before {
  content: "\e947";
}
.amk-free-parking-nearby:before {
  content: "\e948";
}
.amk-free-toiletries:before {
  content: "\e949";
}
.amk-game-console:before {
  content: "\e94a";
}
.amk-garden:before {
  content: "\e94b";
}
.amk-garden-view:before {
  content: "\e94c";
}
.amk-gift-shops-or-newsstand:before {
  content: "\e94d";
}
.amk-grocery-convenience-store:before {
  content: "\e952";
}
.amk-hairdryer:before {
  content: "\e953";
}
.amk-hair-salon:before {
  content: "\e954";
}
.amk-heated-floor:before {
  content: "\e955";
}
.amk-heating:before {
  content: "\e956";
}
.amk-hot-tub:before {
  content: "\e957";
}
.amk-interconnecting-room:before {
  content: "\e95c";
}
.amk-ipad:before {
  content: "\e95d";
}
.amk-ipod-docking-station:before {
  content: "\e95e";
}
.amk-iron:before {
  content: "\e95f";
}
.amk-ironing-facilities:before {
  content: "\e960";
}
.amk-ironing-room-24-7:before {
  content: "\e961";
}
.amk-jacuzzi:before {
  content: "\e962";
}
.amk-kitchen:before {
  content: "\e963";
}
.amk-kitchenette:before {
  content: "\e964";
}
.amk-kitchenware:before {
  content: "\e965";
}
.amk-lake-view:before {
  content: "\e966";
}
.amk-landmark-view:before {
  content: "\e967";
}
.amk-laptop:before {
  content: "\e968";
}
.amk-laptop-safe-box:before {
  content: "\e969";
}
.amk-laundry-dry-cleaning-and-ironing-services:before {
  content: "\e96a";
}
.amk-laundry-facilities:before {
  content: "\e96b";
}
.amk-library:before {
  content: "\e96c";
}
.amk-limo-or-town-car-service-available:before {
  content: "\e96d";
}
.amk-luggage-storage:before {
  content: "\e96e";
}
.amk-manicures-and-pedicures:before {
  content: "\e973";
}
.amk-marina-on-site:before {
  content: "\e974";
}
.amk-meeting-rooms:before {
  content: "\e975";
}
.amk-microwave:before {
  content: "\e976";
}
.amk-minibar:before {
  content: "\e977";
}
.amk-mirror:before {
  content: "\e978";
}
.amk-mosquito-net:before {
  content: "\e979";
}
.amk-mountain-view:before {
  content: "\e97a";
}
.amk-multilingual-staff:before {
  content: "\e97b";
}
.amk-newspapers-in-lobby:before {
  content: "\e97c";
}
.amk-night-club:before {
  content: "\e97d";
}
.amk-nintendo-wii:before {
  content: "\e97e";
}
.amk-office:before {
  content: "\e983";
}
.amk-oven:before {
  content: "\e984";
}
.amk-parking-not-available:before {
  content: "\e985";
}
.amk-patio:before {
  content: "\e986";
}
.amk-pay-per-view-channels:before {
  content: "\e987";
}
.amk-picnic-area:before {
  content: "\e988";
}
.amk-pool-view:before {
  content: "\e98d";
}
.amk-porter-bellhop:before {
  content: "\e98e";
}
.amk-private-entrance:before {
  content: "\e98f";
}
.amk-private-pool:before {
  content: "\e990";
}
.amk-ps-2:before {
  content: "\e991";
}
.amk-ps-3:before {
  content: "\e992";
}
.amk-ps-4:before {
  content: "\e993";
}
.amk-radio:before {
  content: "\e994";
}
.amk-refrigerator:before {
  content: "\e995";
}
.amk-river-view:before {
  content: "\e996";
}
.amk-rv-bus-truck-parking:before {
  content: "\e997";
}
.amk-safe-deposit-box-at-front-desk:before {
  content: "\e998";
}
.amk-satellite-channels:before {
  content: "\e999";
}
.amk-sauna:before {
  content: "\e99a";
}
.amk-seating-area:before {
  content: "\e99b";
}
.amk-sea-view:before {
  content: "\e99c";
}
.amk-secured-hotel-parking:before {
  content: "\e99d";
}
.amk-shared-bathroom:before {
  content: "\e99e";
}
.amk-shared-toilet:before {
  content: "\e99f";
}
.amk-shopping-center-shuttle:before {
  content: "\e9a0";
}
.amk-shopping-on-site:before {
  content: "\e9a1";
}
.amk-shower:before {
  content: "\e9a2";
}
.amk-ski-shuttle:before {
  content: "\e9a3";
}
.amk-slippers:before {
  content: "\e9a8";
}
.amk-smoke-free-property:before {
  content: "\e9a9";
}
.amk-sofa:before {
  content: "\e9aa";
}
.amk-soundproofing:before {
  content: "\e9ab";
}
.amk-spa-bath:before {
  content: "\e9ac";
}
.amk-stove:before {
  content: "\e9ad";
}
.amk-supervised-childcare-activities:before {
  content: "\e9ae";
}
.amk-tea-coffee-maker:before {
  content: "\e9af";
}
.amk-telephone:before {
  content: "\e9b0";
}
.amk-television-in-common-areas:before {
  content: "\e9b1";
}
.amk-terrace:before {
  content: "\e9b2";
}
.amk-theme-park-shuttle:before {
  content: "\e9b3";
}
.amk-tiled-floor:before {
  content: "\e9b4";
}
.amk-toaster:before {
  content: "\e9b5";
}
.amk-toilet:before {
  content: "\e9b6";
}
.amk-tours-ticket-assistance:before {
  content: "\e9b7";
}
.amk-towels:before {
  content: "\e9b8";
}
.amk-towels-linens-at-surcharge:before {
  content: "\e9b9";
}
.amk-train-station-pick-up-service:before {
  content: "\e9ba";
}
.amk-trouser-press:before {
  content: "\e9bb";
}
.amk-tv:before {
  content: "\e9bc";
}
.amk-two-bedside-tables:before {
  content: "\e9c1";
}
.amk-valet-parking:before {
  content: "\e9c2";
}
.amk-video:before {
  content: "\e9c3";
}
.amk-video-games:before {
  content: "\e9c4";
}
.amk-view:before {
  content: "\e9c5";
}
.amk-wake-up-service:before {
  content: "\e9ca";
}
.amk-wake-up-service-alarm-clock:before {
  content: "\e9cb";
}
.amk-wardrobe-closet:before {
  content: "\e9cc";
}
.amk-washing-machine:before {
  content: "\e9cd";
}
.amk-wedding-service:before {
  content: "\e9ce";
}
.amk-wired-internet:before {
  content: "\e9cf";
}
.amk-wireless-internet:before {
  content: "\e9d0";
}
.amk-wooden-floor:before {
  content: "\e9d1";
}
.amk-xbox-360:before {
  content: "\e9d2";
}
