@import "reset.css";
@import "font-awesome.min.css";
@import "orbit-1.2.3.css";
@import "carousel.css";
@import "amk-font.css";
@import "jquery.fancybox.min.css";
@import "slick.css";
@import "slick-theme.css";
@import "tabs-style.css";

@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url(../fonts/PT_Sans-Web-Italic.ttf);
}

@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url(../fonts/PT_Sans-Web-Bold.ttf);
}

body {
    font-family: 'PT Sans', sans-serif;
    background: url("../img/main-bg.jpg") top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

div, a, img {
    vertical-align: top;
}

a:hover, a:focus {
    color: #0078a0;
}

a:hover {
    cursor: pointer;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Header */

.b-header {
    width: 100%;
    position: absolute;
    z-index: 999;
}

.header-top {
    background-color: #fff;
    padding: 5px 0;
}

.b-wrapper {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

.b-wrapper a {
    text-decoration: none;
}

.logo {
    width: 270px;
    margin-top: 15px;
}

.wrap__header__location {
    display: inline-block;
    padding: 36px 25px;
}

.header-location {
    font: 14px 'Open Sans Semibold', sans-serif;
}

.btn {
    font: 16px/20px 'PT Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background-color: #008ED6;
    padding: 10px;
}

.btn-order {
    display: inline-block;
    margin: 23px 15px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #0A417E;
    color: #fff;
}

.b-languages {
    display: inline-block;
    margin: 33px 15px;
    list-style: none;
}

.b-languages__uk, .b-languages__en {
    float: left;
    margin: 0 5px;
}

.b-languages li a {
    font: 18px/20px 'PT Sans', sans-serif;
    color: #008ED6;
}

.header-bottom {
    background: rgba(7, 108, 174, 0.6);
    border-bottom: 1px solid #B9E7FD;
    box-sizing: border-box;
}

.b-header-menu {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.b-header-menu__item {
    display: inline-block;
    position: relative;
}

.b-header-menu__link {
    font: 18px/40px 'PT Sans', sans-serif;
    color: #fff;
    display: block;
    height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.b-header-menu__link:hover {
    background: #0997DE;
    color: #fff;
}

.b-header-menu__item .active {
    border-bottom: 2px solid #B9E7FD;
}

.b-header-submenu {
    display: none;
    width: 285px;
    position: absolute;
    top: 40px;
    padding: 7px 7px 7px 15px;
    background-color: #0997DE;
}

.b-header-submenu__link {
    display: block;
    font: 18px/30px 'PT Sans', sans-serif;
    color: #fff;
    padding: 0 15px;
    border-left: 1px solid #fff;
    text-decoration: none;
}

.b-header-submenu__link:hover {
    background: #008ED6;
    color: #fff;
}

.b-slider {
    padding-top: 98px;
    position: relative;
}

.b-slider__text {
    width: 715px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -375px;
    z-index: 99;
}

.b-slider__title {
    font: 70px/70px 'PT Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 3px #076cae;
}

.b-slider__subtitle {
    font: 26px/36px 'PT Sans', sans-serif;
    color: #fff;
    text-shadow: 0 0 3px #076cae;
}

/* Main */

.b-main {
    position: relative;
    border-top: 10px solid #fffdf6;
    background-color: #fff;
    box-sizing: border-box;
}

.b-main::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #008ED6;
}

.btn-scroll {
    width: 56px;
    height: 27px;
    display: inline-block;
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -28px;
    border-radius: 56px 56px 0 0;
    background-color: #fff;
    text-align: center;
    z-index: 999;
}

.border-circle {
    width: 42px;
    height: 42px;
    display: inline-block;
    position: relative;
    top: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #008ED6;
    background-color: #fffdf6;
}

.border-circle i {
    font-size: 26px;
    color: #008ED6;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -7px;
}

.btn-scroll:hover .border-circle i {
    color: #0078a0;
}

.b-main-post {
    width: 100%;
    padding: 45px 0;
    position: relative;
}

.b-main-post::before {
    content: '';
    display: table;
}

.b-main-post-content {
    width: 480px;
    float: left;
    box-sizing: border-box;
    padding-top: 10px;
}

.b-main-post-content__subheading {
    font-size: 18px;
    color: #008ED6;
    text-transform: uppercase;
}

.b-main-post-content__heading {
    font: 700 30px/36px 'PT Sans', sans-serif;
    color: #0A417E;
    padding: 10px 0 20px;
}

.b-main-post-content__text {
    width: 470px;
    padding-bottom: 15px;
}

.cf::before,
.cf::after {
    content: '';
    display: table;
}

.cf::after {
    clear: both;
}

.b-main-post-img {
    width: 460px;
    float: right;
    padding: 10px;
    border: 1px solid #008ED6;
    box-sizing: border-box;
}

.b-main-post-img img {
    width: 100%;
    height: auto;
}

.b-offers {
    height: 400px;
    background: url(../img/offers-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.b-offers__subheading {
    font-size: 16px;
    color: #008ED6;
    text-transform: uppercase;
}

.b-offers__heading {
    font: 400 26px/30px 'PT Sans', sans-serif;
    color: #fff;
    margin: 5px 0 15px 0;
}

.b-offers__text {
    font-size: 16px;
    color: #fff;
    max-height: 120px;
    margin-bottom: 15px;
}

.b-offers__link {
    width: 100%;
    display: inline-block;
    color: #7FC5E6;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
}

.carousel .b-offers__link {
    text-decoration: underline;
}

.b-info {
    padding: 45px 0;
    background-color: #fff;
}

.b-info-list {
    width: 100%;
    font-size: 0;
}

.b-info-list-item {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

.b-info-list-item:first-child {
    margin-left: 0;
}

.img-wrap {
    width: 278px;
    height: 186px;
    display: block;
    padding: 10px;
    border: 1px solid #008ED6;
    position: relative;
    box-sizing: border-box;
}

.b-info-list-item__img {
    width: 256px;
    height: 164px;
}

.b-info-list-item__subheading {
    font-size: 14px;
    color: #008ED6;
    text-transform: uppercase;
    text-align: left;
    padding: 25px 0 5px;
}

.b-info-list-item__heading {
    font: 26px/32px 'PT Sans', sans-serif;
    color: #0A417E;
}

.b-info-list-item__heading:hover {
    color: #0078a0;
}

.b-info-list-item__text {
    padding: 10px 0;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/hover-icon.png") center center no-repeat;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.img-hover:hover {
    opacity: 1;
}

/* Footer */

.footer-main {
    width: 100%;
    float: left;
    padding-top: 50px;
    background: url("../img/footer-bg.jpg") center 0 no-repeat;
    overflow: hidden;
}

.footer-img {
    width: 275px;
    float: left;
    box-sizing: border-box;
}

.footer-img img {
    padding: 5px;
    border: 1px solid #fff;
}

.footer-address {
    width: 320px;
    float: left;
}

.list-links {
    width: 100%;
}

.list-links li:first-child {
    font-size: 16px;
    color: #c4eaff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.list-links li span {
    font-size: 14px;
    color: #fbfbfb;
    line-height: 20px;
    vertical-align: top;
}

.footer-quick-links {
    width: 190px;
    float: left;
}

.list-links li a {
    font-size: 14px;
    color: #fbfbfb;
    line-height: 20px;

}

.list-links li a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 100%;
    float: left;
    position: relative;
    padding-top: 44px;
}

.footer-logo__img {
    position: absolute;
    top: 14px;
    left: 48%;
}

.footer-logo::before {
    content: '';
    width: 44%;
    position: absolute;
    top: 35px;
    left: 0;
    border-top: 1px solid #fff;
}

.footer-logo::after {
    content: '';
    width: 44%;
    position: absolute;
    top: 35px;
    right: 0;
    border-top: 1px solid #fff;
}

.wrap-soc-copyright {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.copyright {
    width: 33.3%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}

.b-soc-icon {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.soc-icon-list {
    width: 144px;
    margin: 0 auto;
}

.soc-icon-list li {
    display: inline-block;
    margin: 0 5px;
}

.soc-icon-list li a i {
    font-size: 24px;
    color: #fff;
}

.soc-icon-list li a i:hover {
    color: #c4eaff;
}

.studio-link {
    width: 33.3%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
}


.list-links .fs {
    font-size: 13px;
}
/* Hotel-rooms */

.b-content {
    background-color: #fff;
    width: 100%;
    float: left;
}

.b-top-foto {
    background: url(../img/top-photo.jpg) no-repeat;
    padding-top: 41px;
    margin-top: 103px;
}

.page-title {
    font: 36px/109px 'PT Sans', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #076cae;
    background-color: rgba(0, 0, 0, 0.24);
}

.wrap-inner {
    width: 980px;
    margin: 40px auto;
    border: 1px solid #008ED6;
}

.inner {
    background-color: #fff;
    padding: 30px;
    overflow: hidden;
}

.post-img {
    width: 615px;
    float: left;
}

.slider-item-photo {
    width:100%;
}

.slider-nav-item{
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider-nav-thumb{
    width:100%;
    cursor: pointer;
}


.post-content {
    width: 260px;
    float: right;
}

.underline {
    font: 700 24px/31px 'PT Sans', sans-serif;
    color: #0A417E;
}

.underline:after {
    content: '';
    display: block;
    width: 172px;
    height: 1px;
    background-color: #0A417E;
    margin: 15px 0 10px;
}

.col-rooms-descr {
    font-size: 24px;
    padding: 5px 0;
}

.room-price-value {
    font-size: 24px;
}

.currency {
    display: inline-block;
    font-size: 20px;
    color: #008ED6;
    line-height: 20px;
    width: 44px;
    height: 31px;
    /*background: url("../img/change-currency-select-arrow.png") right center no-repeat;*/
    background-color: #fff;
    border: none;
    margin-top: -5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: top;
    margin-bottom: 15px;
}

.room-price i {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    margin-top: 1px;
}

.post-content-text {
    padding: 5px 0 20px;
}

.btn-rooms {
    display: inline-block;
    width: 205px;
    font-size: 14px;
    color: #008ED6;
    line-height: 35px;
    padding: 0 19px;
    border: 1px solid #008ED6;
    background: transparent;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn-rooms:hover {
    background-color: #008ED6;
    color: #fff;
}

.more-content {
    width: 100%;
    display: none;
    overflow: hidden;
    padding: 50px 30px;
    background-color: #fff;
    border-top: 1px solid #0997DE;
}

.wrap-comment-table {
    width: 615px;
    float: left;
}

.b-room-amenities-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.b-room-amenities-table tr:nth-of-type(odd) {
    background-color: #e5f6ff;
}

.b-room-amenities-table__col {
    width: 50%;
    font-size: 13px;
    padding: 5px 15px;
}

.b-room-amenities-table__col i {
    margin: 5px;
}

.wrap-tabs {
    width: 280px;
    float: left;
    margin-left: 20px;
}

/* Special-offers */

.wrapper_margin {
    margin-top: 40px;
}

.b-shares {
    list-style: none;
}

.b-shares__item {
    padding: 45px 0;
    border-top: 1px solid #008ED6;
    overflow: hidden;
}

.b-shares__item:first-child {
    border: none;
}

.b-shares-img-wrap {
    width: 326px;
    padding: 10px;
    float: left;
    border: 1px solid #008ED6;
}

.b-shares__img {
    width: 304px;
    height: 215px;
}

.b-shares__info {
    width: 600px;
    float: right;
}

.b-shares__title {
    font: 28px/36px 'PT Sans', sans-serif;
    padding-bottom: 20px;
}

.b-shares__introtext,
.b-shares__text {
    padding-bottom: 10px;
}

.btn-more-maintext {
    display: inline-block;
    height: 19px;
    font-size: 18px;
    color: #008ED6;
    border-bottom: 2px solid #008ED6;
    margin: 10px 0;
    cursor: pointer;
}

.b-shares__maintext {
    display: none;
}

/* Restaurant */

.inside-menu {
    width: 100%;
    height: 40px;
    background-color: #fff;
}

.submenu {
    width: 100%;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #B9E7FD;
}

.submenu__item {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 0;
}

.submenu__item a:hover {
    color: #fff;
    background-color: #008ED6;
}

.submenu__item a:first-child {
    border-left: none;
}

.submenu__link {
    display: inline-block;
    height: 40px;
    padding: 0 35px;
    font-size: 16px;
    line-height: 42px;
    border-left: 1px solid #B9E7FD;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid #008ED6;
}

.b-content_bg-img {
    background: url("../img/hotel-crimea-pattern.jpg");
    width: 100%;
    float: left;
}

.post {
    margin: 40px 0;
}

.b-restaurant-post-content {
    width: 390px;
    float: left;
}

.b-restaurant__subtitle {
    font: 16px/24px 'PT Sans', sans-serif;
    color: #008ED6;
    text-transform: uppercase;
}

.b-restaurant__title {
    font: 32px/36px 'PT Sans', sans-serif;
    padding: 10px 0 30px;
}

.b-restaurant__text {
    padding-bottom: 10px;
}

.b-restaurant-post-img {
    width: 480px;
    float: right;
    padding: 10px;
    border: 1px solid #008ED6;
    position: relative;
}

.gallery__link {
    display: none;
}

.b-restaurant-post-img a:first-child {
    display: block;
}

.gallery__img {
    width: 458px;
}

.b-service__item {
    overflow: hidden;
    padding: 45px 0;
    border-top: 1px solid #008ED6;
}

.b-service__item:first-child {
    border: none;
}

.b-service-img-wrap {
    width: 326px;
    height: 215px;
    float: left;
    padding: 10px;
    border: 1px solid #008ED6;
}

.b-service__img {
    width: 304px;
    height: 193px;
}

.b-service__info {
    width: 600px;
    float: right;
}

.b-service__title {
    font: 28px/36px 'PT Sans', sans-serif;
    padding-bottom: 20px;
}

.b-service__introtext {
    padding-bottom: 20px;
}

/* Hotel-features */

.features-content-wrapper {
    width: 900px;
    margin: 35px auto 60px;
}

.features__title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #0A417E;
    margin: 35px 0 25px;
}

.b-features__list {
    width: 410px;
    float: left;
    margin: 0 20px;
}

.b-features__list li {
    width: 100%;
    line-height: 25px;
    padding: 5px 10px;
}

.b-features__list li:nth-child(odd) {
    background-color: #e5f6ff;
}

.b-features__list li i {
    font-size: 13px;
    line-height: 25px;
}

.clear {
    clear: both;
}

/* Photo-gallery */

.b-photogallery {
    padding: 10px 5px 0;
    font-size: 0;
}

.b-photogallery__link {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 150px;
    padding: 0 5px 10px;
}

.b-photogallery__img {
    width: 100%;
    height: 100%;
}

/* Contacts */

.b-contacts {
    position: relative;
}

.form-wrapper {
    position: absolute;
    top: 10%;
    left: 70px;
    width: 340px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 99;
}

.form__heading {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-form {
    width: 320px;
}

.form__input {
    width: 300px;
    font-family: Arial, Verdana, sans-serif;
    color: #008ED6;
    border: 1px solid #008ED6;
    padding: 7px 0;
    text-indent: 10px;
    margin-bottom: 15px;
}

.form__textarea {
    width: 300px;
    background: #fff;
    border: 1px solid #008ED6;
    padding: 5px 0;
    resize: none;
}

.btn-submit {
    width: 300px;
    height: 38px;
    font-family: Arial, Verdana, sans-serif;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #008ED6;
    padding: 7px 0;
    cursor: pointer;
}

.b-map {
    height: 600px;
    border-top: 1px solid #008ED6;
    border-bottom: 1px solid #008ED6;
}

.b-map-infowindow__link {
    text-decoration: none;
}