/* Стили для табов-вкладок */
.tabs_block {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
}
.tabs_block:after {
    content:"";
    display:block;
    clear:both;
}
/* панель навигации вкладок */
.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    float:left;
}
/* список вкладок */
.tabs li {
    text-align:center;
    float:left;
    padding:7px 12px;
    background:#fff;
    cursor:pointer;
    color: #0A417E;
    -webkit-transition:all .2s linear 0s;
    -webkit-transition-delay:.2s 0s;
    transition:all .2s linear 0s;
    border: 1px solid #008ED6;
}

.tabs li:first-child {
    border-right: none;
}
/* активная вкладка */
.tabs li.active {
    background:#fff;
    color:#0A417E;
    border-bottom: 1px solid transparent;
}

.tabs li:hover {
    background-color: #e5f6ff;
}
/* блоки вкладок с содержанием */
.box {
    background:#fdfdfd;
    width:96%;
    padding:0.9375rem 0;
    display:none;
    text-align: left;
    float: left;
}
/* содержимое вкладок */
.b-tabs-list {
    list-style: disc;
    margin-left: 25px;
}

.b-tabs-list__item,
.b-tabs-list__text {
    margin-bottom: 5px;
}
/* активный блок при загрузке */
.visible, .open_tab {
    display: block;
}
/* убираем выравнивание на маленьких экранах */
@media (max-width: 300px) {
  .tabs, .tabs li {
   float: none;
  }
}